# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# =========================
# Environment variables
# =========================

.env
.env.*
!.env.example

# =========================
# Testing / Coverage
# =========================

.pytest_cache/
.coverage
htmlcov/

# =========================
# IDE / Editor
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log

# =========================
# Build / Distribution
# =========================

build/
dist/
*.egg-info/

# =========================
# FastAPI / Temporary
# =========================

*.sqlite3
*.db
